/* .sprite{
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}
.github{
    background-position: -5px -5px;
}
.gmail{
    background-position: -45px -5px;
}
.linkedin{
    background-position: -5px -45px;
}
.stackoverflow{
    background-position: -45px -45px;
}
.tumblr{
    background-position: -85px -5px;
}
.twitter{
    background-position: -85px -45px;
} */


/* .wrapper{
    width: 100%;
    height: 100%;
}
select:focus{
    border: 2px solid greenyellow;
} */



/* .container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
}
.container input{
    position: absolute;
    opacity: 0 ;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover > .checkmark{
    background-color: #ccd;
}
.container input:checked + .checkmark{
    background-color: blue;

}
.container input:checked+.checkmark::after {
    display: block;

}
.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}
.container .checkmark::after{
    border: 1px solid #fff;
    left: 7px;
    top: 4px;
    border-width: 0 3px 3px 0;
    width: 6px;
    height: 10px;
    transform: rotate(45deg);
} */






.radio-block{
    width: 300px;
    display: block;
    border: 1px solid black;
    position: relative;
    
}
label{
    border: 1px solid black;
}