/* .wrapper{
    width: 800px;
    height: 5000px;
    border: 1px solid black;
    margin-top: 100px;
    position: relative;
    transform: scale(1);
}
.block{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.static-block{
    background-color: blue;
}
.relative-block{
    position: relative;
    left: 30px;
    margin-top: 10px;
    padding-left: 20px;
    background-color: coral;
}
.absolute-block{
    position: absolute;
    background-color: darkorange;
    bottom: 0;
    width: 100%;
}
.absolute-block p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}
.fixed-block{
    position: fixed;
    background-color: violet;
    top: 350px;
    left: 700px;
}
.sticky-block{
    background-color: grey;
    position: sticky;
    top: 30px;
    left: 37px;
} */





/* Друга частина уроку ! ! ! ! ! */




/* .wrapper{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.box{
    width: 120px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    padding: 2.5em;
    float: left;
    margin-right: 15px;
}
.some-text{
    background-color: crimson;
    clear: both;
}
.box2{
width: 120px;
    height: 100px;
    border-radius: 50%;
    background-color: brown;
    padding: 2.5em;
    float: right;
} */



.wrapper{
    width: 90%;
    margin: 0 auto;
}
.header{
    width: 100%;
    background-color: rgba(222, 222, 222, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    color: black;
}
.center-wrapper{
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
}
.left-block{
    float: left;
    width: 20%;
    background-color: yellow;
    padding-left: 15px;
}
ul{
    line-height: 2.2;
    
}
.center-block{
    width: 55%;
    background-color: blue;
    float: left;
    margin-left: 15px;
}
.right-block{
    float: left;
    width: 20%;
    background-color: red;
    margin-left: 15px;
}
.footer-block{
    clear: both;
    position: absolute;
    bottom: 0;
    background-color: pink;
    width: 90%;
}
.up-button{
    border-radius: 50%;
    border: 2px solid black;
    padding: 1.5em;
    position: fixed;
    right: 70px;
    bottom: 30px;
    cursor: pointer;
}
.left-block, .right-block, .center-block{
    padding-bottom: 100vh;
    margin-bottom: -100vh;
}