*{
    box-sizing: border-box;
}
.item{
    padding: 15px;
    border: 1px solid #000;
    /* width: 300px; */
    /* flex-grow: 1; */
    flex-basis: 300px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item:first-child{
    /* flex-grow: 3; */
    align-self: flex-end;
}