*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
}
.flex__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}
.items-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.items-flex > *:not(:last-child) {
  margin-bottom: 15px;
}
.items-flex__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.items-flex__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  background: #323;
}
.items-flex__content {
  padding: 0 15px;
}
.items-flex__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}