html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
#svg{
    flex: 1 1 auto;
} */



.text-container{
    height: 300px;
    width: 600px;
    /* background-color: grey; */
    /* background: linear-gradient(to left, #fff000, #000fff); */
    /* background: radial-gradient(#fff000, #000fff); */
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(0  , 0, 0);
}
h1{
    color: #e1e1e1;
    text-shadow: 2px 2px 2px #000;
    transition: 1000ms 500ms;
        /* text-align: center;
        line-height: 300px; */
}
h1:hover{
    transform: scale(2);
}












header{
    width: 1200px;
    border: 2px solid #000;
}
.head-menu-block{
    display: flex;
    justify-content: space-between;
}
.head-menu{
    display: flex;
    

}
.logo{
display: flex;
   padding-left: 10px; 
}
li{
    width: 100px;
    height: 50px;
    border: 2px solid #000;
    list-style: none;
    display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
}
a{
    text-decoration: none;
}
.logo-img{
    border-radius: 50%;
    border: 7px solid #000;
    width: 80px;
    
}
.menu-1{
    border-radius: 10px 10px;
}
.menu-2{
border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: darkgray;
}
.menu-3{
    border-radius: 50px ;
    background: linear-gradient(purple, green);
}
.menu-4{
    border-radius: 50%;
    background: radial-gradient(yellow, darkgray);
}
.menu-5{
    background-color: #333;
}
.menu-5:hover,
:focus {
    background-color: #fff;
}{

}


.header-non-opacity{
    height: 150px;
    border: 2px solid #000;
    background-color: aquamarine;
}


main{
    width: 1200px;
        border: 2px solid #000;
}
.text-scale{
    height: 150px;
    border: 2px solid #000;
    background: linear-gradient(purple, green, yellow, blue, red);
    text-align: center;
}
.text-transform{
    transition: 1000ms 500ms;
}
.text-transform:hover {
    transform: scale(2);
}




.word-brake{
    width: 150px;
    height: max-content;
    border: 2px solid #000;
    word-break: break-word;
}



.burger-img{
    width: 50px;
    height: 50px;
}
.head-menu{
    
}
.head-menu:hover{
    visibility: visible;
}