*{
    margin: 0;
    box-sizing: border-box;
}
.square{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
h1{
    flex: ;
}
.flex-container{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 1200px;
    flex-wrap: wrap;
    align-content: flex-start;
    /* flex-direction: row-reverse; */
}
.flex-item{
    border: 1px solid green;
    /* width: 400px; */
    /* height: 100px; */
    flex-basis: 50%;
}
.flex-item-1{
    /* flex-basis: 300px; */
    /* align-self: flex-start; */
    /* width: 500px; */
}
.flex-item-2{
    /* flex-basis: 420px; */
    /* align-self: center; */
    /* width: 600px; */
}
.flex-item-3{
    /* flex-basis: 100px; */
    /* align-self: flex-end; */
    /* width: 700px; */
}