/* Псевдо елементи */





.important-title{
 font-size: 2em;
 text-align: center;
 text-transform: uppercase;   
}
.important-title::before{
    content: none;
     display:block;
}
.important-title::after{
content: "";
 display:block;
border-bottom: 1px solid red;
width: 100px;
margin: 0 auto;
}
.line{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-color: brown;
}
.low-important-title{
    text-align: center;
    text-transform: capitalize;
}
.low-important-title::before, .low-important-title::after{
content: '"';
}
.text::first-letter{
    font-size: 3em;
    color: brown;
}
.text::first-line{
font-size: 1.5em;
}








/* Псевдо класи */

.list-item:hover{
    color: red;
}
.list-item:active {
    color: green;
}
.list-item:first-child{
    font-size: 50px;
}
.list-item:last-child{
    font-size: 50px;
    text-decoration: underline;
}
.list-item:nth-child(odd){
    color: blue;
}
.list-item:nth-child(even){
    color: yellow;
}
.list-item:not(:last-child){
    text-decoration: overline;
    color: black;
}