body{
    margin: 0;
    box-sizing: border-box;
}
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    row-gap: 30px;
    column-gap: 10px;
    min-height: 60vh;
    grid-auto-rows: 125px 1fr 5em;

    /* justify-items: center;
    align-items: center; */

    /* grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr)  ; */
    /*Те саме що і вище
    grid-template: repeat(1, 1fr) / repeat(4, 1fr); */
}
.item{
    background-color: aquamarine;
    color: aliceblue;
}
.grid-item10{
    background-color: blueviolet;
}
.grid-deeper-item{
    color: transparent;
    background-color: beige;
    font-weight: 700;
}
.grid-deeper-item:hover{
    color: black;
}
.grid-item-wrapper{
    display: grid;
    grid-column: span 4;
    grid-template: repeat(2, 200px) / repeat(2, 1fr);
    gap: 5px;
    background-color: brown;
}



/* .item:nth-child(1),
.item:nth-child(3),
.item:nth-child(5),
.item:nth-child(7),
.item:nth-child(9){
place-self: end center;
}
.item:nth-child(2),
.item:nth-child(4),
.item:nth-child(6),
.item:nth-child(8),
.item:nth-child(10) {
place-self: start center;
} */