body {
    margin: 0;
    box-sizing: border-box;
    background-color: blue;
}
.wrapper{
    display: grid; 
    grid-auto-flow: column;
    gap: 30px;  
}
img{
    width: 310px;
    height: 434px;
}