.wrapper{
    font-size: 24px;
    font-family: sans-serif;
    display: grid;
    grid-auto-flow: row;
    gap: 20px ;
    grid-template-columns: min-content;
}
.item{
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
    background-color: rgba(233, 171, 88, 0.5);
    padding: 1em;
    color: #d9480f;
}