p{
    color: red;
}
.bigger-title  {
    color: blue;
}
.main-content-first-item, .main-content-third-item, .main-content-fifth-item{ color: #4e5c56;}
.main-content-item{
    font-size: 28px;
}
.main-content-second-item, .main-content-fourth-item{ color: rgb(190, 0, 116);}
.main-content{
    height: 380px;
    width: 1100px;
    border: 2px solid #000;
}
.small-word{
    font-weight: 800;
    font-style: italic;
}
.bigger-word {
    font-size: 40px;
}
.main-content{
    padding: 20px 0 20px 50px;
    margin: 30px 0 10px 60px;
}
*{
    background-color: rgb(23, 152, 152);
}
.main-content-item:hover   {
    color: blue;
    background-color: darkgreen;
}