*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.flex {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;

    // .flex__title
    &__title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 40px;
    }

    // .flex__items
    &__items {}
}

.items-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &>*:not(:last-child) {
        margin-bottom: 15px;
    }
    
    // .items-flex__item
    &__item {
        display: flex;
        flex: 0 1 50%;
    }

    // .items-flex__img
    &__img {
        flex: 0 0 100px;
        height: 100px;
        background: #323;
    }

    // .items-flex__content
    &__content {
        padding: 0 15px;
    }

    // .items-flex__title
    &__title {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 500;
    }

    // .items-flex__text
    &__text {}
}