/* @font-face{
    font-family: "ibxplexmono";
    src: url(../fonts/IBMPlexmono.ttf);
    font-weight: 400;
    font-style: normal;
} 
ТАк треба підключати шрифти, 1.скачати на сайті, 2. встановити на компб 3. залити в папку проектуб 4. підключити
*/
.main-btn{
    background-color: #008f7d;
}
.wrapper{
    overflow:auto;
    width: 100vw;
    height: 100vh;
    background-color: #f8f9f8;
}
.header{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header-menu{
    background-color: #011312;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    padding: 26px 0 27px 72px;
}
.header-logo img{
    width: 150px;
}
.header-menu-list {
    list-style: none;
    display: inline-flex;
}
.header-menu-list li {
    padding: 0 16px;   
}
.header-menu-list li a {
    color: #ffff;
    font-size: 14px;
    text-decoration: none;
    /* font-family: 'IBM Plex Mono', sans-serif; */
}
.login-btn{
    width: 106px;
    height: 45px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    text-align: center;
    /* font-family: 'IBM Plex Mono'; */
    cursor: pointer;
}


/*SERVICES CONTAINER*/

.horisontal-line{
    width: 70px;
    border: 1px solid #008F7D;
    margin: 100px auto 50px;
}


.services-title{
    color: #03141b;
    font-size: 56px;
    /* font-family: 'IBM Plex Mono'; */
    line-height: 64px;
    text-align: center;
}
.services-item{
    box-shadow: 0px 8px 32px -4px rgba(5, 134, 117, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 10px 6px 32px;
}
.services-item-wrap img{
    padding: 2px 3px;
}
.services-subtitle{
    color: #03141b;
    font-size: 18px;
    /* font-family: 'IBM Plex Mono'; */

}
.services-descr{
    font-size: 14px;
    /* font-family: 'IBM Plex Mono'; */
    color: #;
}
.services-body{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 273px);
}
/*ШРИФТИ ТУТ Я НЕ ПІДКЛЮЧАВ!!!
FONT-FAMILY ПРОПИСАНИЙ ТАК САМО ЯК І НА УРОЦІ*/
